:root {
    --wire-size: 7px;

}

*:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    font-family: "Playfair Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    position: relative;
}

#circuit-area {
    height: calc(100% - 100px);
    width: 100%;
}

#toolbar {
    height: 103px;
    width: 100%;
    line-height: 100%;
    position: relative;

    user-select: none;
    -webkit-user-select: none;
}

/* #region circuit component styles */

.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.horizontal-align {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.circuit-icon {
    height: 85px;
    width: auto;
    cursor: move;

    position: relative;

    overflow: visible;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.connect-mode .add-component-panel {
    display: none !important;
}

.connect-mode .circuit-icon {
    cursor: default !important;
}

.connect-mode .draggable:hover {
    border-color: transparent;
}

.hidden,
.draggable-base>.comp-circle-left,
.draggable-base>.comp-circle-right,
.draggable-base>.comp-circle-top,
.draggable-base>.comp-circle-bottom,
.draggable-base>.add-component-panel,
.dragging>.add-component-panel {
    display: none !important;
}

.circuit-icon>.comp-circle-left {
    position: absolute;
    left: -1px;
}


.circuit-icon>.comp-circle-right {
    position: absolute;
    right: -1px;
}

.circuit-icon>.comp-circle-top {
    position: absolute;
    top: -1px;
}

.comp-junction-h, .comp-junction-v {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}


.circuit-icon>.comp-circle-bottom {
    position: absolute;
    bottom: -1px;
}

.left-occupied>.comp-circle-left,
.left-occupied>.add-component-left {
    display: none !important;
}

.right-occupied>.comp-circle-right,
.right-occupied>.add-component-right {
    display: none !important;
}

.top-occupied>.comp-circle-top,
.top-occupied>.add-component-top {
    display: none !important;
}

.bottom-occupied>.comp-circle-bottom,
.bottom-occupied>.add-component-bottom {
    display: none !important;
}

.circuit-icon:hover>.add-component-panel {
    display: block;
}

.comp-circle-active {
    fill: red;
    cursor: pointer;
}

.add-component-panel {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    display: none;

    padding: 4px;

    width: 160px;


    z-index: 100;

    backdrop-filter: blur(10px);
}

.add-component-panel>button {
    font: 14px "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    background-color: transparent;
    color: #555555;
    transition: color 200ms, margin 200ms;
    -webkit-transition: color 200ms, margin 200ms;
    -moz-transition: color 200ms, margin 200ms;
    -ms-transition: color 200ms, margin 200ms;
    -o-transition: color 200ms, margin 200ms;
    padding: 4px;
}

.add-component-panel>button:hover {
    color: #000000;
}


.add-component-left {
    left: 0;
    transform: translate(-172px, -50%);
    -webkit-transform: translate(-172px, -50%);
    -moz-transform: translate(-172px, -50%);
    -ms-transform: translate(-172px, -50%);
    -o-transform: translate(-172px, -50%);
}

.add-component-left button {
    float: right;
}

.add-component-left button:hover {
    margin-right: 8px;
}

.add-component-right {
    right: 0;
    transform: translate(172px, -50%);
    -webkit-transform: translate(172px, -50%);
    -moz-transform: translate(172px, -50%);
    -ms-transform: translate(172px, -50%);
    -o-transform: translate(172px, -50%);
}

.add-component-right button {
    float: left;
}

.add-component-right button:hover {
    margin-left: 8px;
}

.draggable {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: border-color 150ms;
    -webkit-transition: border-color 150ms;
    -moz-transition: border-color 150ms;
    -ms-transition: border-color 150ms;
    -o-transition: border-color 150ms;

    z-index: 500;
}

#delete-toolbar {
    background-color: white;

}

#delete-toolbar * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#delete-icon {
    height: 56px;
    filter: invert(35%);
    -webkit-filter: invert(35%);
    transition: 150ms filter, 150ms -webkit-filter;
    -webkit-transition: 150ms filter, 150ms -webkit-filter;
    -moz-transition: 150ms filter, 150ms -webkit-filter;
    -ms-transition: 150ms filter, 150ms -webkit-filter;
    -o-transition: 150ms filter, 150ms -webkit-filter;
}

.delete-toolbar-hover {
    background-color: #A30000 !important;
}

.delete-toolbar-hover img {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%) !important;
}

.draggable:hover {
    border-color: rgb(54, 124, 204);
}


.dragging {
    position: absolute;
    z-index: 999;
}

/* #endregion */

/* #region wire styles */

.circuit-wire {
    position: absolute;
    transform: translate(-4px, -4px);
    z-index: 0;

    opacity: 0;
    
    transition: 150ms opacity;
    -webkit-transition: 150ms opacity;
    -moz-transition: 150ms opacity;
    -ms-transition: 150ms opacity;
    -o-transition: 150ms opacity;

    overflow: visible;
}

.circuit-wire-part {
    position: absolute;
    background-color: black;

    cursor: pointer;
}

/* top */
.circuit-wire-0 {
    width: calc(100% + var(--wire-size));
    height: var(--wire-size);
    top: 0;
    left: 0;
}

/* right */
.circuit-wire-1 {
    height: calc(100% + var(--wire-size));
    width: var(--wire-size);
    right: calc(-1 * var(--wire-size));
    top: 0;
}

/* bottom */
.circuit-wire-2 {
    width: calc(100% + var(--wire-size));
    height: var(--wire-size);
    bottom: calc(-1 * var(--wire-size));
    left: 0;
}

/* left */
.circuit-wire-3 {
    height: calc(100% + var(--wire-size));
    width: var(--wire-size);
    left: 0;
    top: 0;
}

/* top right */
.circuit-wire-hook-0 {
    width: var(--wire-size);
    height: calc(50% + var(--wire-size));
    right: calc(-1 * var(--wire-size));
    top: 0;
}

/* bottom right */
.circuit-wire-hook-1 {
    width: var(--wire-size);
    height: calc(50% + var(--wire-size));
    right: calc(-1 * var(--wire-size));
    bottom: calc(-1 * var(--wire-size));
}

/* bottom left */
.circuit-wire-hook-2 {
    width: var(--wire-size);
    height: calc(50% + var(--wire-size));
    left: 0;
    bottom: calc(-1 * var(--wire-size));
}

/* top left */
.circuit-wire-hook-3 {
    width: var(--wire-size);
    height: calc(50% + var(--wire-size));
    left: 0;
    top: 0;
}

.circuit-wire-hook-mid {
    width: calc(100% + var(--wire-size));
    height: var(--wire-size);
    top: 50%;
    left: 0;
}


.circuit-wire-inputting .circuit-wire-part {
    background-color: rgb(253, 77, 77);
}

.circuit-wire-inputted .circuit-wire-part {
    background-color: rgb(18, 104, 233);
}



/* #endregion */

/* properties panel styles */

.draggable:focus-within .properties-panel {
    display: block;
}


.draggable:focus-within {
    border-color: rgb(54, 124, 204);
    z-index: 1000;
}

.dragging .properties-panel, .connect-mode .properties-panel {
    display: none !important;
}

.properties-panel {

    position: absolute;

    width: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid #dfdfdf;
    padding: 8px;
    font-size: 18px;

    cursor: default !important;

    backdrop-filter: blur(9px);

    z-index: 1000;
}

.segment-panel {
    display: none;
}

.circuit-wire-inputting:focus-within .segment-panel {
    display: block !important;
}

.resistor-panel, .cell-panel {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    top: calc(100% + 4px);
    display: none;
}

input {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding: 2px;

    font-size: 16px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    border: 1px solid #d6d6d6;

    background-color: transparent;
}

input:hover {
    border: 1px solid #b8b8b8;;
}

input:focus {
    border: 1px solid #6886e7;;
}

.panel-info {
    font-size: 14px;
    color: #555555;
}

.toolbar-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}


#toolbar-main * {
    display: inline-block;
}

.toolbar-overlay {
    background-color: white;
    z-index: 100;
    height: 100px;
    display: none;
    opacity: 0;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
    position: relative;
    overflow: hidden;
}

#connectmode-toolbar>.wrapper {

    width: 500px;
    text-align: center;
    margin: 32px auto;
}

#connectmode-toolbar>.wrapper * {
    display: inline-block;
    vertical-align: middle;
}

#connectmode-toolbar img {
    height: 30px;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    -o-transition: opacity 200ms;
}

#connectmode-toolbar img:hover {
    opacity: 0.5;
}

#connectmode-text {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #313131;
}


#toolbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #CCCCCC;
}

#compute-button {
    border-radius: 4px;
    border-width: 0;
    font-family: "Playfair Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #2f5ae4;
    color: white;
    padding: 0 16px;


    height: 50px;

    margin: 0 16px;
    float: right;

    transition: background-color 120ms;

    user-select: none;
}

#compute-button:hover {
    background-color: #3b62e6;
}

#compute-button:focus {
    background-color: #4f6fd8;
}


button:focus {
    outline: 0;
}